<h5 class=" mb-2 font-weight-bold text-primary card-header pd-0"><i class="fas fa-file-invoice-dollar"></i> <%= action %>ใบแจ้งหนี้</h5>
<div class="container-fluid">
<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
     <%= form_for @invoice do |f| %>

     <div class="form-group mt-4">
      <%= f.label "เลขที่บิล"  %>
      <%= f.text_field :bill_id , {:class=>'bill_no d-none'}   %>
      <%= f.collection_select :bill_id, Bill.all,:id,:bill_no,{:prompt=> 'กรุณาเลือกเลขที่บิล'} , {:class=>'form-control',:disabled =>"true"}%>
      </div>

      <div class="form-group mt-4">
      <%= f.label "ชื่อลูกค้า"  %>
      <%= f.text_field :invoice_user , {:class=>'bill_no d-none'}   %>
      <%= f.collection_select :invoice_user, Customer.all,:id,:name,{:prompt=> 'กรุณาเลือกลูกค้า'}, {:class=>'form-control',:disabled =>"true"} %>
      </div>

      <div class="form-group mt-4">
        <%= f.label "ราคา"  %>
        <%= f.number_field :amount, step: :any  ,class: 'form-control',required: true %>
      </div>

      <div class="form-group mt-4">
      <%= f.label "วันที่ครบชำระ"  %>
      <%= f.date_field :invoice_date ,class: 'form-control',required: true%>
      </div>

      <div class="form-group mt-4">
         <%= f.submit 'บันทึก',class: 'btn btn-success mt-2'%>
      </div>

      </div>
      <div class="mb-3"><%= link_to '<i class="fas fa-chevron-left"></i> ย้อนกลับ'.html_safe, invoices_path %></div>
    </div>
 <% end %>

<% end %>
