
<h1><%= action %>บิล</h1>
<%= form_with(model: bill, local: true) do |form| %>
  <% if bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
        <% bill.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
      <div class="form-group mt-4">
        <%= form.label "เลขที่บิล"  %>
        <%= form.text_field :bill_no ,class: 'form-control' %>
      </div>
      
      <div class="form-group mt-4">
      <%= form.label "ราคา"  %>
      <%= form.text_field :amount ,class: 'form-control' %>
       </div>

      <div class="form-group mt-4">
      <%= form.label "วันที่ครบชำระ"  %>
      <%= form.date_field :due_date ,class: 'form-control' %>
       </div>

     <div class="form-group mt-4">
      <%= form.label "ลูกค้า"  %>
      <%= form.collection_select :customer_id, Customer.all,:id,:name,{:prompt=> 'กรุณาเลือกลูกค้า'}, {:class=>'form-control'} %>
      </div>

      <div class="form-group mt-4">
         <%= form.submit 'Submit',class: 'btn btn-success mt-2'%>
      </div>
      
      </div>
         <%= link_to 'Back', bills_path %>
  </div>
    
<% end %>