<h5 class=" mb-2 font-weight-bold text-primary card-header pd-0"><i class="fas fa-user"></i> <%= action %>ลูกค้า
</h5>
<div class="container-fluid">
<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
     <%= form_for @customer do |f| %>
      <div class="form-group mt-4">
        <%= f.label "ชื่อ"  %>
        <%= f.text_field :name ,class: 'form-control',required: true %>
      </div>

      <div class="form-group mt-4">
      <%= f.label "วงเงิน"  %>
      <%= f.number_field :credit, step: :any ,class: 'form-control',required: true %>
      </div>
      
      <div class="form-group mt-4">
         <%= f.submit 'บันทึก',class: 'btn btn-success mt-2'%>
      </div>

      </div>
      <div class="mb-3"><%= link_to '<i class="fas fa-chevron-left"></i> ย้อนกลับ'.html_safe, customers_path %></div>
    <% end %>
    
  </div>
  </div>
<% end %>
