<div class="container">
  <div lass="alert alert-success" role="alert" id="notice"><%= notice %></div>
  <table class="table table-hover mt-3" >
    <thead>
      <tr>
        <th scope="col" >ชื่อลูกค้า</th>
        <th scope="col">วงเงิน</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @customer.name%></td>
        <td><%= @customer.credit%></td>
      </tr>
    </tbody>
  </table>
  <%= link_to 'Edit', edit_customer_path(@customer) %> |
  <%= link_to 'Back', customers_path %>

</div>
